<div class="row">

	<div class="col-xs-6" ng-repeat="work in portfolio.list | orderBy:'-year'">

		<a class="work-thumbnail" ng-click="openWork(work.slug)">
			<figure>
				<img ng-show="work.imgs.length" ng-src="assets/img/{{work.slug}}/{{work.imgs[0]}}" alt="{{work.name}} Image" class="img-responsive" />
				<figcaption>
					<h3>{{work.name}}</h3>
				</figcaption>
			</figure>
		</a>

		<div class="work-full modal modal-fullscreen" data-work="{{work.slug}}">
			<div class="modal-wrapper">
				<div class="modal-header">
					<a class="close" ng-click="closeWork(work.slug)"><span>&times;</span></a>
					<h4 class="modal-title">{{work.name}}</h4>
				</div>
				<p class="work-meta">
					Year: <strong>{{work.year}}</strong>
					<span ng-show="work.link"> | <a href="{{work.link}}" target="_blank">Link</a></span>
				</p>
				<p ng-bind-html="work.desc"></p>
				<ul class="work-skills">
					<li ng-repeat="skill in work.skills" class="label {{skill.type}}">
						{{skill.name}}
					</li>
				</ul>
				<!--<div class="row" ng-show="work.imgs.length">
					<div class="col-sm-6 col-sm-offset-3" ng-repeat="image in work.imgs" ng-if="$index > 0">
						<img ng-src="assets/img/{{work.slug}}/{{image}}" class="img-responsive" />
					</div>
				</div>-->
				<div class="swiper-container" ng-show="work.imgs.length">
					<div class="swiper-wrapper">
						<div class="swiper-slide" ng-repeat="image in work.imgs" ng-if="$index > 0">
							<img data-src="assets/img/{{work.slug}}/{{image}}" class="img-responsive swiper-lazy" />
							<div class="swiper-lazy-preloader"></div>
						</div>
					</div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
			</div>
		</div>

	</div>

</div>