@import url(http://fonts.googleapis.com/css?family=Monoton|Montserrat:400,700|Open+Sans:400italic,700italic,400,700);

@import 'utilities.less';




body {
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.6;
}



section {
	position: relative;
}
.container {
	padding-bottom: 60px;
	h1 {
		font-family: 'Monoton', sans-serif;
		font-size: 42px;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
		word-spacing: 10px;
		small {
			display: block;
			font-family: 'Montserrat', sans-serif;
			font-size: 24px;
			text-transform: none;
			word-spacing: normal;
		}
	}
}
.page-header {
	border-bottom: 4px double #eee;
}




#main-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 80vh;
	padding-right: 0;
	padding-left: 0;
	.background-radial(#222, #111);
	overflow: hidden;

	.container {
		position: absolute;
		height: 15%;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		padding: 0 !important;
		overflow: visible;
		white-space: nowrap;
	}
	h1 {
		color: #000;
		font-family: 'Monoton', sans-serif;
		font-size: 90px;
		font-weight: 400;

		span {
			.neon-glow-1;
		}
		span.broken {
			.neon-off;
		}

	}
	small {
		color: #fff;
		font-family: 'Montserrat', sans-serif;
		font-size: 44px;
		font-weight: 400;
	}
}

// for the love of god, animations on desktop only
html:not(.mobile) #main-header h1 {
	span {
		.neon-animation;
	}
	span.broken {
		color: #000;
		.neon-broken-animation;
	}
}







.residual-container {
	display: block;
	position: absolute;
	top: 80vh;
	z-index: 2;
	width: 100%;
	.background-jagged;
}




.portfolio {
	.work-thumbnail {
		display: block;
		margin-bottom: 20px;
		&:hover h3 {
			color: @color-pink;
		}
	}
	figure {
		display: block;
		position: relative;
		border: 5px solid #161616;
		overflow: hidden;
		&:hover, &:focus {
			figcaption {
				left: 0;
				p {
					display: block;
				}
			}
		}
	}
	figcaption {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 10px;
		background-color: rgba(0,0,0,0.8);
		color: #aaa;
		font-size: 14px;
		h3 {
			margin: 0;
			font-family: 'Montserrat', sans-serif;
			font-size: 18px;
			font-weight: 400;
		}
		p {
			margin: 5px 0 0 0;
			//display: none;
		}
	}
}




#about {
	.container-colors(#111, #555);
	h1 {
		color: @color-blue;
		span {
			color: @color-pink;
		}
	}
	aside {
		padding: 10px 15px 5px 15px;
		border-radius: 7px;
		background-color: lighten(#111, 6%);
		color: #666;
		font-size: 14px;
	}
}




#skills {
	.container-colors(lighten(#111, 3%), #666);
	h1 {
		color: @color-green;
		small {
			color: @color-orange;
		}
	}
	.skills-list {
		margin: 1.5em 0;
		padding: 0;
		text-align: center;
	}
	.label {
		display: inline-block;
		margin: 7px 5px;
		color: lighten(#111, 3%);
		font-family: 'Montserrat', sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.6;
	}
	.skills-legend {
		padding: 0;
		list-style: none;
		text-align: center;
		li {
			display: inline-block;
			margin: 3px 10px;
		}
		span {
			display: inline-block;
			padding: 7px;
		}
	}
}
.web-development {
	background-color: @color-green;
}
.web-design {
	background-color: @color-blue;
}
.development-tool {
	background-color: @color-violet;
}
.design-tool {
	background-color: @color-orange;
}
.game-design-tool {
	background-color: @color-pink;
}
.music-tool {
	background-color: @color-yellow;
}




#portfolio {
	position: relative;
	.container-colors(lighten(#111, 6%), #777);
	h1 {
		color: @color-blue;
	}
	.work-thumbnail {
		cursor: pointer;
	}

	.work-full {
		margin-left: 100%;
		//display: block;
		.modal-wrapper {
			height: 100%;
			margin-left: 20px;
			padding: 20px;
			overflow: auto;
			.background-jagged-h;
		}
		.modal-header {
			border: none;
			font-family: 'Montserrat', sans-serif;
			h4 {
				color: @color-blue;
				font-size: 30px;
			}
			a.close {
				display: inline-block;
				padding: 0 12px;
 				opacity: 1;
 				border-radius: 50%;
				color: #aaa;
				font-size: 40px;
				line-height: 45px;
				text-shadow: none;
				&:hover {
					color: @color-pink;
				}
			}
		}
		p {
			padding: 0 16px;
			a {
				color: @color-pink;
			}
		}
		.work-meta {
			padding-bottom: 1em;
			font-family: 'Montserrat', sans-serif;
			a {
				color: @color-pink;
				font-weight: 700;
			}
		}
		.work-skills {
			padding: 1em 10px 1em 10px;
		}
		.label {
			display: inline-block;
			margin: 7px 5px;
			color: lighten(#111, 3%);
			font-family: 'Montserrat', sans-serif;
			font-size: 14px;
			font-weight: 400;
			line-height: 1.6;
		}
		/*.row {
			img {
				margin: 15px 0;
				border: 5px solid #ccc;
			}
		}*/
		.swiper-container {
			width: 100%;
			min-height: 150px;
		}
		.swiper-wrapper {
			img {
				min-height: 150px;
				//margin: 0 auto;
				//border: 5px solid #ccc;
			}
		}
	}
}




#resume {
	.container-colors(lighten(#111, 12%), #777);
	h1 {
		color: #fff;
		a {
			color: @color-green;
		}
	}
}

#cd-timeline {
	position: relative;
	padding: 2em 0;
	margin: 2em 0;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 18px;
		height: 100%;
		width: 4px;
		background-color: lighten(#111, 17%);
	}
	.cd-timeline-block {
		position: relative;
		margin: 1em 0;
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	.cd-timeline-img {
		position: absolute;
		top: 0;
		left: 0;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: 4px solid #ddd;
		background-color: @color-pink;
		&.none {
			background-color: #555;
		}
		&.web-development {
			background-color: @color-green;
		}
		&.web-design {
			background-color: @color-blue;
		}
		&.design-tools {
			background-color: @color-orange;
		}
	}
	.cd-timeline-content {
		position: relative;
		margin-left: 60px;
		padding: 1em;
		background-color: #ddd;
		border-radius: 7px;
		color: #222;
		&:before {
			content: '';
			position: absolute;
			top: 16px;
			right: 100%;
			width: 0;
			height: 0;
			border: 7px solid transparent;
			border-right-color: #ddd;
		}
		h3 {
			margin: 0;
			font-family: 'Montserrat', sans-serif;
			font-size: 20px;
		}
		h4 {
			margin-bottom: 0;
			font-family: 'Montserrat', sans-serif;
			font-size: 14px;
		}
		p {
			font-size: 14px;
			margin: 10px 0 0 0;
		}
		.cd-date {
			display: inline-block;
			float: left;
			margin-top: 10px;
			padding: 0;
			font-family: 'Montserrat', sans-serif;
			font-size: 12px;
			font-style: italic;
		}

		&.end {
			padding: 0.7em 0;
			background: none;
			color: #555;
			h3 {
				margin: 0;
				font-size: 18px;
			}
			&:before {
				display: none;
			}
			.cd-date {
				margin: 0;
			}
		}
	}
}

@media only screen and (min-width: 600px) {
	#cd-timeline {
		margin-top: 2em;
		margin-bottom: 2em;
		&:before {
			left: 50%;
			margin-left: -2px;
		}
		.cd-timeline-img {
			left: 50%;
			margin-left: -20px;
		}
		.cd-timeline-content {
			margin-left: 0;
			width: 45%;
			&:before {
				top: 15px;
				left: 100%;
				border-color: transparent;
				border-left-color: #ddd;
			}
			.cd-date {
				position: absolute;
				width: 100%;
				top: 8px;
				left: 122%;
				margin: 0;
				color: #ddd;
				font-size: 16px;
			}
		}
		.cd-timeline-block {
			margin: 2em 0;
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
			&:nth-child(even) .cd-timeline-content {
				float: right;
				&:before {
					top: 15px;
					right: 100%;
					left: auto;
					border-color: transparent;
					border-right-color: #ddd;
				}
				.cd-date {
					right: 122%;
					left: auto;
					text-align: right;
				}
			}
			&:nth-child(odd) .cd-timeline-content.end h3 {
				text-align: right;
			}
		}
	}
}




#continue {
	.background-jagged;
	.page-header {
		border-bottom-color: #ddd;
	}
	h1 {
		color: @color-violet;
	}
}




#games {
	.container-colors(lighten(#111, 12%), #777);
	h1 {
		color: @color-pink;
		small {
			color: @color-blue;
		}
	}
}




#music {
	.container-colors(lighten(#111, 15%), #888);
	h1 {
		color: @color-yellow;
		small {
			color: @color-violet;
		}
	}
}




#social {
	.container-colors(lighten(#111, 18%), #999);
	h1 {
		color: @color-blue;
	}
	.social-icons {
		padding: 0;
		list-style: none;
		font-size: 24px;
		line-height: 1;
		text-align: center;
		li {
			display: inline-block;
			a {
				display: block;
				width: 34px;
				height: 34px;
				padding: 5px 0;
				color: #fff;
				&:hover {
					text-decoration: none;
				}
			}
			.fa-facebook:hover {
				background-color: #3b5998;
			}
			.fa-twitter:hover {
				background-color: #55acee;
			}
			.fa-google-plus:hover {
				background-color: #dd4b39;
			}
			.fa-linkedin:hover {
				background-color: #0976b4;
			}
			.fa-github:hover {
				background-color: #333;
			}
			.fa-soundcloud:hover {
				background-color: #ff3300;
			}
			.fa-steam:hover {
				background-color: #000;
			}
			.fa-youtube:hover {
				background-color: #e52d27;
			}
			.fa-stack-overflow:hover {
				background-color: #fe7a15;
			}
			.fa-tumblr:hover {
				background-color: #35465c;
			}
			.fa-lastfm:hover {
				background-color: #c3000d;
			}
			.fa-pinterest-p:hover {
				background-color: #cc2127;
			}
			.fa-envelope:hover {
				background-color: @color-pink;
			}
		}
	}
}




#main-footer {
	position: relative;
	.container-colors(#060606, #444);
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-align: center;
	.container {
		padding: 15px;
	}
}





@import (less) 'loading-bar.min.css';








@media (max-width: 500px) {
	#main-header {
		h1 {
			font-size: 42px;
			small {
				font-size: 20px;
			}
		}
	}
	.container {
		h1 {
			font-size: 30px;
			small {
				font-size: 20px;
			}
		}
	}
}




@media (max-width: 600px) {
	.portfolio .row .col-xs-6 {
		width: 100%;
	}
}