@import url(http://fonts.googleapis.com/css?family=Monoton|Montserrat:400,700|Open+Sans:400italic,700italic,400,700);

@import 'utilities.less';




body {
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.6;
}



section {
	position: relative;
}
.container {
	padding-bottom: 60px;
	h1 {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		small {
			display: block;
			text-transform: none;
		}
	}
}




#main-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 80vh;
	padding-right: 0;
	padding-left: 0;
	.background-radial(#222, #111);
	overflow: hidden;

	.container {
		position: absolute;
		height: 15%;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		padding: 0 !important;
		overflow: visible;
		white-space: nowrap;
	}
	h1 {
		color: #000;
		font-family: 'Monoton', sans-serif;
		font-size: 90px;
		font-weight: 400;

		span {
			.neon-animation;
		}
		span.broken {
			color: #000;
			.neon-broken-animation;
		}
	}
	small {
		color: #fff;
		font-family: 'Montserrat', sans-serif;
		font-size: 44px;
		font-weight: 400;
	}
}






.residual-container {
	display: block;
	position: absolute;
	top: 80vh;
	z-index: 2;
	width: 100%;
	.background-jagged;
}




#about {
	h1 span {
		color: @color-blue;
	}
}




#skills {
	.background-jagged(#222);
	color: #aaa;
	.skills-list {
		margin: 1.5em 0;
		text-align: center;
	}
	.label {
		display: inline-block;
		margin: 7px 5px;
		color: #222;
		font-family: 'Montserrat', sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.6;
	}
	.skills-legend {
		list-style: none;
		text-align: center;
		li {
			display: inline-block;
			margin: 3px 10px;
		}
		span {
			display: inline-block;
			padding: 7px;
		}
	}
	.web-development {
		background-color: @color-green;
	}
	.web-design {
		background-color: @color-blue;
	}
	.development-tool {
		background-color: @color-violet;
	}
	.design-tool {
		background-color: @color-orange;
	}
	.game-design-tool {
		background-color: @color-pink;
	}
	.music-tool {
		background-color: @color-yellow;
	}
}




#portfolio {
	.background-jagged(@color-green);
}




#continue {
	.background-jagged;
}




#games {
	.background-jagged(@color-pink);
}




#music {
	.background-jagged(@color-yellow);
}




#social {
	.background-jagged;
}









/*@media (max-width: 768px) {
	#main-header {
		h1 {
			font-size: 42px;
			small {
				font-size: 18px;
			}
		}
	}
}*/




@media (max-width: 500px) {
	#main-header {
		h1 {
			font-size: 42px;
			small {
				font-size: 20px;
			}
		}
	}
}